/* Główny kontener */
.scroll-list-wrapper {
  position: relative;
  height: auto; /* Automatyczna wysokość */
  overflow: hidden;
  padding-top: auto; /* Dodano margines, aby obraz nie nachodził na header */
}


/* Kontener listy */
.scroll-list-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
}

/* Stylizacja tekstu w ScrollList */
.scroll-item-text h1 {
  font-family: 'Roboto', sans-serif; /* Ustaw tę samą czcionkę co nagłówek */
  font-size: 2.5rem; /* Dopasuj rozmiar czcionki */
  font-weight: bold; /* Dopasuj grubość czcionki */
  color: #333; /* Dopasuj kolor tekstu */
  text-align: left; /* Wyrównanie tekstu */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); /* Dopasuj cień tekstu */
  margin: 0; /* Usuń domyślne marginesy */
  padding: 0; /* Usuń domyślne odstępy */
}



/* Elementy listy */
.scroll-item {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  width: 100%;
  height: 85vh; /* Każdy element zajmuje pełną wysokość ekranu */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3; /* Domyślnie przyciemnione */
  transform: scale(0.9); Domyślnie zmniejszone
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.scroll-item-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-item-image img {
  max-width: 100%;
  height: auto;
}

.scroll-item-text {
  flex: 1;
  padding-left: 20px;
}

.scroll-item h1 {
  text-align: left;
  color: black;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* Aktywny element */
.scroll-item.active {
  opacity: 1; /* Pełna widoczność */
  transform: scale(1); /* Pełny rozmiar */
}